:root {
    box-sizing: border-box;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 1.5rem; */
}

@font-face {
    font-family: 'norse-bold';
    src: url(/fonts/Norse-Bold.otf);
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100%;
}


.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0000ff;
    position: relative;
    background-image:url(images/leftBackground.jpg);
    background-repeat:no-repeat;
    background-position:center; 
    background-size: cover;
    width: 774px;
}

/* #leftBackground {
    height: 100%;
    width: auto;
} */

#logoBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    font: 48px;
    position: absolute;
    top: 160px;
    height: 106px;
    width: 100%;
    z-index: 10;
}

#odin {
    font-family: 'norse-bold';
    font-size: 67px;
    color: white;
}

#logo {
    height: 85%;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
}

.rightSide > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
    /* border: 5px solid black; */
    padding-left: 30px;
    flex: 1;
    /* height: 220px; */
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
}

#description p {
    padding-right: 100px;
    margin: 10px;
}

#formsContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    /* border: 5px solid black; */
}

#forms {
    display: flex;
    flex-direction: row;
}

/* #formsLeft > div, #formsRight > div{
    display: flex;
    direction: column;
} */

label, input {
    display: flex;
}

#submit {
    display: flex;
    flex-direction: column;
}

button {
    font-size: 1rem;
    height: 30px;
    width: 200px;
}

a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}